*, *::before, *::after{
	box-sizing: border-box;
}
body {
    font-family: 'Verdana';
    font-weight: 400;
    margin: 0;
}
/* navigation bar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}
.navbar__wordmark-list-container {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    flex-wrap: wrap;
    padding: 0.5rem 7%;
}
.navbar__wordmark {
    margin: 0;
}
.navbar__link {
    text-decoration: none;
    color: black;
}
.navbar__link:hover {
    padding-bottom: 0.5rem;
    border-bottom: rgba(51,85,118, 0.4) solid 3px;
}
.navbar__link-wordmark {
    text-decoration: none;
    color: #335576;
    font-size: 1.1rem;
}
.navbar__list {
    padding-left:0;
    margin:0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    font-size: 0.8rem;
}
.navbar__item {
    padding-bottom: 0.5rem;
}
.navbar__item--selected {
    border-bottom: #DB7A4E 3px solid;
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #FEFAF5;
    padding: 2.3% 16%;
}
.footer__hours-card {
    width: 45%;
}
.footer__title {
    color: #335576;
    font-size: 1.4rem;
}
.footer__subtitle {
    color: #DB7A4E;
    font-size: 0.6rem;
    margin-top: 0;
}
.footer__link {
    text-decoration: none;
    color: #335576;
    font-size: 0.8rem;
}
.footer__days-hours-container {
    display: flex;
    justify-content: space-between;
}
.footer__body {
    color: #335576;
    font-size: 0.8rem;
}
.footer__social-card {
    width: 15%;
}
.footer__icons-container {
    display: flex;
    justify-content: space-between;
}
.footer__icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-top: 1rem;
}