/* hero section */
.hero {
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 6.6rem 7% 5rem;
}
.hero__body-container {
  width: 50%;
  text-align: left;
  margin-bottom: 2rem;
}
.hero__title {    
  margin-top: 0%;
  color: #335576;
  font-size: 2.2rem;
}
.hero__subtitle {
  color: #335576;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.button {
  background-color: #DB7A4E;
  padding: 0.6rem 2.5rem;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  border-radius: 3rem;
}
.hero__image {
  width:32vw;
}

/* Recommendations */
.recommendation__title {
  color: #335576;
  font-size: 1.5rem;
  padding-left: 7%;
  padding-top: 2%;
}

.recommendation__cards-container {
  display: flex;
  justify-content: space-between;
  padding: 0 17% 5%;
}

.recommendation__card {
  text-decoration: none;
  width: 20vw;
  height: 30vw;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0.2) 1px solid;
  overflow: hidden;
  transition: transform 0.5s ease-in-out; /* Add transition for easing */
}

.recommendation__card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.recommendation__destination-photo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}

.recommendation__card:hover .recommendation__destination-photo {
  transform: scale(1.1);
}

.recommendation__destination-name {
  margin: 0;
  font-weight: 700;
  font-size: 1.6vw;
  position: absolute;
  bottom: 4%;
  right: 7%;
  color: white;
}